.main-content {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    margin-top: 30px;
}

#home {
    position: relative;
    margin-top: 20px;
    margin-left: 6.1%;
    margin-bottom: 20px;
}

#home a {
    color: #03A9F4;
    text-decoration: none;
    cursor: pointer;
}

#home a:hover {
    color: #0288D1;
}

.crawling_controller_div {
    margin-top: 30px;
    margin-left: 6.1%;
}

#controller-label, #crawler-status-span {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 10px;
}

.crawler-status-green {
    color: #2ECC40;
}

.crawler-status-red {
    color: #FF4136;
}

.crawler-status-yellow {
    color: #FFDC00;
}

#username-span {
    margin-right: 20px;
}

.control-btn {
    padding: 10px;
    border: 1px solid #03A9F4;
    border-radius: 5px;
    float: left;
    background-color: #03A9F4;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.control-btn:hover {
    background-color: #0288D1;
    border: 1px solid #0288D1;

}

.control-btn-disable {
    padding: 10px;
    border: 1px solid #81D4FA;
    border-radius: 5px;
    float: left;
    background-color: #81D4FA;
    color: white;
    margin-right: 10px;
}


