
header {
    width: 100%;
    height: 60px;
    position: relative;
}

.favicon-container {
    width: 15%;
    margin-left: 3%;
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.favicon-container a img {
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline-flex;
    vertical-align: middle;
    right: 0;
    top: 0;
}

.login-register-user {
    position: relative;
    float: right;
    display: inline-block;
    margin-right: 7%;
    margin-top: 20px;
}

.login-register-user a {
    position: relative;
    text-decoration: none;
    color: #03A9F4;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
}

.login-register-user a:hover {
    color: #0288D1;
}

#username-span {
    width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    color: #464646;
    position: relative;
}

footer {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #03A9F4;
    color: white;
    text-align: center;
    font-size: 16px;
}

footer a {
    color: white;
    text-decoration: none;
}