
.category-dropdown-menu {
    position: relative;
    height: 100%;
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

.category-dropdown-btn {
    background-color: #ffffff;
    color: #03A9F4;
    font-size: 15px;
    border: 1px solid #03A9F4;
    border-radius: 5px;
    height: 80%;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 3px;
    cursor: pointer;
}

.category-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 220px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 4;
}

/* Links inside the dropdown */
.category-dropdown-content span {
    color: #03A9F4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.category-dropdown-content span:hover {
    background-color: #03A9F4;
    color: white;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.category-dropdown-menu:hover .category-dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.category-dropdown-menu:hover .category-dropdown-btn {
    background-color: #03A9F4;
    border: 1px solid;
    color: white;
}

.search-container {
    width: 40%;
    height: 100%;
    display: inline-block;
    margin-left: 5%;
}

.search-container input[type=text] {
    position: relative;
    width: 80%;
    height: 80%;
    padding: 6px 6px 6px 14px;
    display: inline-block;
    font-size: 17px;
    border: solid 1px #03A9F4;
    border-radius: 5px;
    color: #464646;
}

.search-container button {
    position: relative;
    padding: 6px 10px;
    height: 80%;
    background: #03A9F4;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #03A9F4;

}

.search-container button:hover {
    background-color: #0288D1;
    border: 1px solid #0288D1;
}

.user-function-dropdown {
    position: relative;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    color: #03A9F4;
}

.user-function-dropdown:hover, .user-function-dropdown:focus {
    color: #0288D1;

}

.user-function-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 15px;
}

#user-function-content a {
    color: #03A9F4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

#user-function-content a:hover {
    color: white;
    background: #03A9F4;
}

.user-function-content-show {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 15px;
}

#recommend-course-list-section {
    width: 90%;
    position: relative;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    display: none;
}

#scroll-recommend-courses {
    min-width: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex
}

#scroll-recommend-courses::-webkit-scrollbar {
    display: none;
}

#title-recommend-courses {
    color: #03A9F4;
    margin-left: 1.1%;
    font-size: 2em;
}

.main-content {
    width: 100%;
    min-height: 100vh;
    /*max-height: 2500px;*/
    margin-top: 50px;
    position: relative;
    align-items: center;
    justify-content: center;
    background: white;
    display: block;
}

.all-course-title-container {
    width: 100%;
    height: 50px;
    background-color: white;
    display: inline-block;
    position: relative;
    text-align: center;
}

.all-course-title {
    font-size: 2em;
    color: #03A9F4;
}

.sort-filter-options {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 6.1%;
}

.sort-wrapper {
    position: relative;
    float: left;
    display: inline-block;
    margin-right: 30px;
}

.sort-menu {
    height: 25px;
    border: 1px solid #03A9F4;
}

.filter-wrapper {
    position: relative;
    float: left;
    display: inline-block;
    border-color: #03A9F4;
}

.filter-wrapper input {
    height: 25px;
    border: 1px solid #03A9F4;
    border-radius: 2px;
    padding-left: 2px;
    width: 100px;
}

.filter-wrapper button {
    height: 26px;
    color: white;
    background: #03A9F4;
    border: 1px solid #03A9F4;
    border-radius: 2px;
    font-size: 14px;
}

.filter-wrapper button:hover {
    cursor: pointer;
    background: #0288D1;
    border: 1px solid #0288D1;
}

.no-course {
    display: none;
    position: absolute;
    font-size: 21px;
    color: #464646;
    top: 200px;
    left: 34%;
    z-index: 1;
}

.course-list-section {
    width: 90%;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.loader {
    position: relative;
    margin-top: 60px;
    margin-bottom: 200px;
    margin-left: 45%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #03A9F4; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.number-of-result {
    position: relative;
    display: inline-block;
    margin-left: 1.1%;
}

.course-list-container {
    width: 100%;
    position: relative;
    display: grid;
    margin-left: 1.1%;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-template-columns: 23% 23% 23% 23%;
    grid-auto-rows: 350px;
    grid-gap: 30px 2%;
    background-color: white;
}

.course-container {
    position: relative;
    display: block;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.course-container-link, .origin-site-link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.course-container:hover {
    -ms-transform: scale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scale(1.05, 1.05); /* Safari */
    transform: scale(1.05, 1.05);
    transition-duration: 300ms;
}

.course-img {
    position: relative;
    width: 100%;
    height: 45%;
    border-radius: 5px 5px 0 0;
}

.course-title-link {
    display: block;
    margin: 15px 10px;
    text-decoration: none;
    color: #464646;
}

.course-title {
    position: relative;
    font-size: 15px;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 16px; /* fallback */
    max-height: 32px; /* fallback */
}

.course-title:hover {
    color: #03A9F4;
    text-decoration: none;
}

.course-title:visited {
    color: #464646;
    text-decoration: none;
}

.course-price, .course-lecturer {
    width: 100%;
    display: block;
    position: relative;
    margin: 15px 10px;
    font-size: 14px;
}

.save-to-favorite-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: block;
    font-size: 25px;
    color: #FF4136;
    cursor: pointer;
}

.origin-site-logo {
    position: absolute;
    left: 15px;
    bottom: 15px;
    height: 12%;
    width: 45%;
}

.save-to-favorite-btn:hover {
    -ms-transform: scale(1.2, 1.2); /* IE 9 */
    -webkit-transform: scale(1.2, 1.2); /* Safari */
    transform: scale(1.2, 1.2);
    transition-duration: 300ms;
}

.pagination {
    width: 100%;
    position: relative;
    margin: 20px 1.1%;
    display: inline-block;
    color: #464646;
    text-align: center;
}

.pagination div {
    position: relative;
    display: inline-block;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    cursor: pointer;
}

.pagination div.active {
    background-color: #03A9F4;
    color: white;
    border: 1px solid #03A9F4;
}

.pagination div:hover:not(.active) {
    background-color: #ddd;
}

.pagination div:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination div:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (min-width: 1025px) {
    .course-list-container {
        width: 100%;
        position: relative;
        display: grid;
        margin-left: 1.1%;
        padding-top: 30px;
        padding-bottom: 30px;
        grid-template-columns: 18% 18% 18% 18% 18%;
        grid-auto-rows: 350px;
        grid-gap: 30px 2%;
        background-color: white;
    }

    .no-course {
        display: none;
        position: absolute;
        font-size: 21px;
        color: #464646;
        top: 200px;
        left: 35%;
        z-index: 1;
    }
}

@media screen and (max-width: 1024px) {
    .course-list-container {
        width: 100%;
        position: relative;
        display: grid;
        margin-left: 1.1%;
        padding-top: 30px;
        padding-bottom: 30px;
        grid-template-columns: 23% 23% 23% 23%;
        grid-auto-rows: 350px;
        grid-gap: 30px 2%;
        background-color: white;
    }

    .no-course {
        display: none;
        position: absolute;
        font-size: 21px;
        color: #464646;
        top: 200px;
        left: 30%;
        z-index: 1;
    }
}