
.main-content {
    width: 100%;
    min-height: 100vh;
    background: #03A9F4;
    margin-top: 10px;
}

.slogan {
    float: left;
    display: inline-block;
    position: relative;
    color: #464646;
    margin-top: 30px;
    font-size: 20px;
}

.login-register-container {
    position: relative;
    display: inline-block;
    background: white;
    width: 80%;
    height: 80%;
    margin: 10% 10%;
    padding: 25px;
}


.login-container {
    position: relative;
    display: inline-block;
    width: 45%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 10%;
}

.vertical-divider {
    position: relative;
    display: inline-block;
    border-left: 2px solid #03A9F4;
    width: 0;
    height: 100%;
    margin-left: 5%;
    margin-right: 4%;
    float: left;
}

.register-container {
    position: relative;
    display: inline-block;
    height: 100%;
    background: #03A9F4;
    float: right;
}

.label {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    color: #03A9F4;
    font-size: 2rem;
    float: left;
}

#txtEmail, #txtPassword {
    position: relative;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 16px;
    height: 2rem;
    float: left;
    border: 1px solid #03A9F4;
    border-radius: 5px;
    padding-left: 10px;
}

#btnLogin {
    position: relative;
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
    border: 1px solid #03A9F4;
    border-radius: 5px;
    float: left;
    background-color: #03A9F4;
    color: white;
    padding: 10px;
}

#btnLogin:hover {
    background-color: #0288D1;
    cursor: pointer;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}